<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <%= image_tag("facebeek.png", :size => "400x400", :alt => "アイコン") %>

    </div>
    <div class="col-md-6 col-sm-6">
      <h2>ログイン</h2>

      <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :内容を記憶させる %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>